{% extends "tracker/base.html" %}

{% block content %}
<h3 class="fw-bold mt-4">🏆 Top 5 Streak Leaderboard</h3>

{% if top_users %}
  <div class="list-group mt-3">
    {% for p in top_users %}
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-semibold">
            {{ forloop.counter }}. {{ p.user.first_name }} {{ p.user.last_name }}
          </div>
          <small class="text-muted">{{ p.user.email }}</small>
        </div>

        <span class="badge bg-success rounded-pill">
          🔥 {{ p.streak }}
        </span>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="text-muted mt-3">No users found.</div>
{% endif %}

{% endblock %}
